absl-py
annotated-types
asgiref
astunparse
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dj-database-url
Django
django-allauth
filelock
Flask
flatbuffers
fsspec
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
itsdangerous
Jinja2
joblib
keras
libclang
MarkupSafe
ml_dtypes
MouseInfo
mpmath
namex
narwhals
networkx
numpy
opt_einsum
optree
pandas
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic_core
PyGetWindow
PyJWT
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
pytweening
pywhatkit
requests
scikit-learn
scipy
setuptools
six
soupsieve
sqlparse
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
torch
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
whitenoise
wikipedia
xgboost